<div class="rte">
  <div class="submission">
    <div class="checkmark">
		<img src="{{ 'checkmark.png' | asset_url}}" alt="checkmark">
    </div>
    <div class="title">
      Order Submitted
    </div>
    <div class="text">
      Most orders are filled  within 1 to 2 business days.
      Your Account Manager will reach out to you shortly
      to get any final info for your content order, and
      provide details on fulfillment. Thanks for ordering
      Custom Content! We truly believe it's the best way
      to maximize the effectiveness of your LED display.
    </div>
    <div class="buttons">
      <a href="https://project-content.com/pages/my-rewards"><div class="btn account">My Account</div></a>
      <a href="https://project-content.com/"><div class="btn continue">Continue</div></a>
    </div>
  </div>
</div>
