
<div class="rte">
  <div class="confirm">
    <div class="logo">
		<img src="{{ 'PC-mark-gray.png' | asset_url}}" alt="Project Content Logo">
    </div>
    <div class="welcome">
      Welcome to Project Content!
    </div>
    <div class="mem_level_sec">
      <div class="label">
        Membership: 
      </div>
      <div class="mem_level">
      </div>
    </div>
    <div class="text">
      Thanks For Signing Up! Your <span class="mem_level"></span> membership gives you 
      unlimited downloads from any of our collections as well as
      <span class="content_downloads"></span> custom orders. Content is added weekly and can 
      be downloaded instanly at your signs exact pixel 
      resolution. Have an upcoming event, sale, or promotion?
      Order a custom ad for you LED sign that gets the word out
      and watch your numbers climb. With turn times as little as 
      one business day you can timely and completely 
      custom ads on your LED display.
    </div>
    <div class="buttons">
      <a href="https://project-content.com/pages/my-rewards"><div class="btn account">My Account</div></a>
      <a href="https://project-content.com/"><div class="btn continue">Continue</div></a>
    </div>
  </div>
</div>
