<div class="rte">
  <div class="faq">
    <div class="title">Frequently Asked Questions</div>
    <div class="accordian">
      <div class="section">
        <div class="head">
          I can't find the content I need, what now?
        </div>
        <div class="body">
          Not finding the content you need in our stock library? Custom content is available upon request and is included in our paid memberships. Custom content can also be purchased at $99 per content piece.
        </div>
      </div>
      <div class="section">
        <div class="head">
          Why can't I checkout?
        </div>
        <div class="body">
          An account is required to download content from Project Content. Join today and choose one of our memberships to get started, then enjoy unlimited access to our content library!
        </div>
      </div>
      <div class="section">
        <div class="head">
          I've downloaded my content, how do I put it on my sign?
        </div>
        <div class="body">
          Using your digital sign software, provided with the manufacturer of your digital sign, load the correct file format to the scheduling platform.  If the file format you have downloaded is not compatible please try downloading a format that will work with your sign software.  We have various formats that can be downloaded.
        </div>
      </div>
      <div class="section">
        <div class="head">
          I'm not sure how to use Project Content
        </div>
        <div class="body">
          
How it works<br/>
<br/>
Content Library:<br/>
		<ol>
          <li>The first step in using Project Content is creating a free account.</li>
    <li>Once you are logged in you can begin to find and download the content you need.</li>
    <li>Content can be found by name or category. You can also browse our collections to find what you're looking for.</li>
    <li>Add all the content you would like to download to your cart.</li>
    <li>You will notice that the price is reduced to $0.00 because of your free membership.</li>
    <li>After checkout, You will be directed to a download page. From here enter your sign matrix and download your content! </li>
          </ol>
Custom Content:
          <ol>
            <li>Custom content is simple! To start head to the "Custom" page.</li>
    <li>Fill out our form to tell us about the custom content you are needing. (separate each request with a return in the description area)</li>
    <li>Attach any relevant files you would like to be included in the content (logos, images)</li>
    <li>We will turn your content request in 1-2 business days! </li>
    <li>One custom content credit will be subtracted from your account for each piece of custom content that is ordered.</li>
          </ol>
Custom Content Credits:
<ul>
    <li>Custom Content Credits (CCC) are delivered once a month with the amount depending on the level of your subscription.</li>
    <li>Free: Custom content credits are not included in the free account.</li>
    <li>Essential: 1 credit per month</li>
    <li>Premium: 2 credits per month</li>
    <li>Ultimate: 10 credits per month</li>
    <li>Each account will be awarded one CCC upon account creation.</li>
  </ul>

        </div>
      </div>
    </div>
  </div>
</div>
